* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1rem;
}

#spa-back {
  position: relative;
  top: 0;
  left: 0;
}

#spa-container > .tab.active {
  display: block;
}

#spa-container > .tab:not(.active) {
  display: none;
}
