* {
  padding: 0;
  margin: 0;
}

#line-numbers {
  z-index: 2;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 5ch;
  height: 100%;
  padding-bottom: 1.3rem;
  text-align: right;
  user-select: none;
  background-color: black;
  color: white;

  &> .line-number {
    display: inline-block;
    width: 100%;
    padding-right: 2ch;
  }
}

#code-editor {
}

#code-container {
}