.token-curly {
  color: gold;
}

.token-square, .token-regex-flag {
  color: aqua;
}

.token-parentheses {
  color: violet;
}

.token-operator {
  color: lightskyblue;
}

.token-string {
  color: darksalmon;
}

.token-comment {
  color:mediumseagreen;
}

.token-word {
  color: white;
}

.token-keyword, .token-escaped {
  color: deepskyblue;
}

.token-native {
  color: palegoldenrod;
}

.token-regex {
  color: tomato;
}

.token-template {
  color:cornflowerblue;
}

/* .token-whitespace {
  background-color: lightblue;
}
*/
