#new-repo-dialog {
  min-width: 100vw;
  min-height: 100vh;
  user-select: none;
  text-align: center;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

li {
  display: inline-block;
  float: left;
  border: 1px solid gray;
  padding: 3px 6px;
  cursor: pointer;
}

li.active {
  background-color: black;
  color: white;
}

main > div.active {
  display: block;
}

main > div:not(.active) {
  display: none;
}
