#new-repo-dialog {
  min-width: 100vw;
  min-height: 100vh;
  user-select: none;
  text-align: center;
}

#close-new-repo-dialog {
  position: absolute;
  top: 0;
  right: 0;
  text-decoration: none;
  cursor: pointer;
  padding: 0 8px;
  padding-top: 2px;
  background-color: white;
  color: black;
  border-left: 2px solid gray;
  border-bottom: 2px solid gray;
  font-weight: bolder;
  font-size: 1.1rem;
}

#new-repo-dialog-title {
  font-size: 1.8rem;
  font-weight: bolder;
  margin: 1.5rem 1.2rem;
}

#new-repo-tab-controls {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

#new-repo-tab-controls li {
  justify-self: center;
  display: inline-block;
  border-top: 1px solid gray;
  padding: 3px 6px;
  cursor: pointer;
  margin: 0;
  font-weight: bolder;
  font-size: 1.3rem;
}

#new-repo-tab-controls li:not(last-of-type) {
  border-left: 1px solid gray;
}

#new-repo-tab-controls li:last-of-type {
  border-right: 1px solid gray;
}

#new-repo-tab-controls li.active {
  background-color: black;
  color: white;
}

#repo-tabs {
  display: flex;
  justify-content: center;
  width: 98%;
  border: 1px solid gray;
  padding-bottom: 1.5rem;
  margin-left: 1%;
  margin-bottom: 1.65rem;
}

#repo-tabs > div > div {
  text-align: left;
  width: 100%;
  max-width: 30rem;
}

#repo-tabs > div > div.active {
  display: block;
}

#repo-tabs > div > div:not(.active) {
  display: none;
}

#repo-tabs > div > div > label {
  float: left;
  margin-left: 1.05rem;
  margin-right: 1rem;
  font-weight: bolder;
  font-size: 1.2rem;
}

#repo-tabs > div > div > label:not(first-of-type) {
  margin-top: 1rem;
}

#repo-tabs > div > div > input {
  width: calc(100% - 1.5rem);
  float: right;
  margin-right: 0.75rem;
  padding: 2px 4px;
  padding-top: 4px;
  font-size: 1.2rem;
  font-weight: bold;
}

#new-repo-dialog-controls {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

#new-repo-dialog-controls > button {
  padding: 6px 0;
  width: 48%;
  font-weight: bold;
  font-size: 1rem;
  margin: 0;
}
